body{
  font-family: 'Quicksand', sans-serif;
  background: #dddddd url('pidgeon-background.jpg') no-repeat;
}

h1{
  font-size: 2em;
  line-height: 1.5;
  color:#c12258;
}

p{
  background:black;
  padding-top:15px;
  font-size: 18px;
}
.datacite {
  background:transparent;
}

.datacite :link{
  color:#c12258;
  font-size: 18px;
  text-decoration: underline;
}
.datacite :link:focus{
  border:1px solid red;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}
th.colhead{
  width:150px;
  padding:10px;
  color:white;
  text-align:center;
  text-transform:uppercase;
  background-color: #7e0830;
  border-top: 2px solid black;
}
th.colhead:last-child{
  width:190px;
  border-right: 2px solid black;
  border-top-right-radius: 5px;
}
th.colhead:first-child{
  border-top-left-radius: 5px;
}

th,td {
  border-bottom: 2px solid black;
  padding:15px;
  text-align:center;
}
th:first-child {
  border-left: 2px solid black;
}
td:last-child {
  border-right: 2px solid black;
}

tbody tr:nth-child(even) {
  background: #dddddd;
}
tbody tr:nth-child(odd) {
  background-color:transparent;
}

tbody tr:hover {
    background-color:#fab9cf;
}

tbody tr:last-child th:first-child{
  border-bottom-left-radius: 5px;
}
tbody tr:last-child td:last-child {
  border-bottom-right-radius: 5px;
}

footer{
  position:fixed;
  color:white;
  background-color: black;
  text-align: center;
  width:100%;
  min-height:60px;
  bottom:0;
}
