@import url("https://fonts.googleapis.com/css?family=Poppins:700|Roboto:400,500,500i");
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/* Larger Screen Layout: 1280px */
/* Tablet Layout: 680px */
/* Mobile Layout: 360px */
/*---------------------------------------------------- */
/*----------------------------------------------------*/
body {
  line-height: 24px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #595858; }

html,
body {
    height: 100%; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;}

a {
  text-decoration: none;
  -webkit-transition: top 1s ease-out;
  transition: all 0.3s ease-in-out; }
a:hover, a:focus{
      text-decoration:none;
    }

.skip a{
        left: 0;
        padding: 6px;
        position: relative;
        top:     0px ;
        color:red;
      }

.skip a.hover,a:focus{
  text-decoration:underline;
  border:2px solid black;
  top:0px;
  color:black;
      }

.list {
  list-style: none;
  margin: 0px;
  padding: 0px; }

button:focus {
  outline: none;
  box-shadow: none; }

/* flip-card */
.flip-card {
  background-color: transparent;
  width: 200px;
  height: 60px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.9s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card:focus .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
  font-size:30px;
  font-weight: bold;
}
.skip a{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition:none !important;
  transition:none !important;
  font-size:30px;
}

/* download resume button */
  .download_button {
    display: block;
    color: #000;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    margin: 40px 0;
    line-height: 50px;
    text-align: center;
    border: 2px solid #90acd1;
    border-radius: 50px; }

    .download_button:hover {
      background: #e45447;
      color: #fff;
    border:transparent;}
/* download resume button */


/* Header */
.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background: transparent;
  background-image: url(../img/banner.jpg);
  background-attachment: fixed; /* Parallax effect */
  background-position: center;  /* Parallax effect */
  background-repeat: no-repeat; /* Parallax effect */
  background-size: cover;       /* Parallax effect */
  height: 200px;                /* Parallax effect */
  }

.header .container {
    margin-right: 30px;
    align-items: center;
}
.header .navbar {
    background: transparent;
    padding: 0px;
    border: 0px;
    border-radius: 0px;
    width: 100%;
    z-index:999;
  }
    .header .navbar .nav .nav-item {
      margin-right: 18px;}
      .header .navbar .nav .nav-item .nav-link {
        font: 500 1px/90px "Roboto", sans-serif;
        color: #000;
        padding: 0px;
        display: inline-block;
        font-size: 15px;
      }
        .header .navbar .nav .nav-item .nav-link:after {
          display: none; }
      .header .navbar .nav .nav-item:hover .nav-link, .header .navbar .nav .nav-item.active .nav-link {
        color: #f5f5dc;}



  /* iPads (portrait and landscape) ----------- */
  @media screen and (min-width:680px) and (max-width : 1024px) {
    .header .container {
        margin-left: 100px;
      align-items: right; }
    .header .navbar .nav .nav-item {
        margin-right: 30px;
        text-align:left;
      font-size:20px; }
          .header .navbar .nav .nav-item .nav-link {
            display: flex;
            font-size:19px;
          flex-flow: row wrap;}
          }


  /* Desktops and laptops ----------- */
  @media only screen  and (min-width : 1024px) {

    .header .container {
        margin-right: 45px; }
        .header .navbar .nav .nav-item {
          margin-right: 50px; }
          .header .navbar .nav .nav-item .nav-link {
            font: 500 1px/100px "Roboto", sans-serif;
            text-transform: capitalize;
            color: #000;
            padding: 0px;
            display: inline-block;
            font-size: 25px; }
          }


/* reduce motioin media query */
@media screen and (prefers-reduced-motion: reduce){
  html{
    animation: none;
    /*Removes scroll animation */
  }

  .skip a{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition:none !important;
    transition:none !important;
  }

  .skip a:focus{
    top:0;
  }
}

.banner-area {
  background: url('../img/banner.jpg');
  position: relative;
  z-index: 1;
  overflow:hidden;
  width:100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  background-attachment: fixed;
  background-position: center;
}

  .banner_area .banner_inner {
    display:flex;
    flex-flow: row wrap;
    align-items: center;
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 400px;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    z-index: 1; }
    .banner_area .banner_inner .banner_content h1 {
      color: #000;
      font-size: 60px;
      margin-bottom: 20px;
     text-align: right;}
    .banner_area .banner_inner .banner_content .page_link {
      display: inline-block;
      border: 2px solid #000;
      border-radius: 50px;
      padding: 0px 20px;
      line-height: 46px;
    }
      .banner_area .banner_inner .banner_content .page_link a {
        font-size: 14px;
        color: #000;
        font-family: "Roboto", sans-serif;
        margin-right: 14px;
        position: relative; }

/* About Area */

.about-area{
  background:transparent;
  margin:30px;
}

.about-area .main-title h1 {
    padding-bottom: 30px;
    margin-bottom: 10px;
    margin-top:20px;
  text-align:center;
text-shadow: 10px 10px 10px #FF6600;}

/* iPads (portrait and landscape) ----------- */
    @media screen and (min-width:680px) and (max-width : 1024px) {
      .about-area{
        margin:40px;
      }
        .about-area .main-title h1 {
          text-align:right;
          margin-top: 30px;
          margin-bottom: 10px;}
      }
    }

    @media screen (min-width : 1024px) {
      .about-area{
        margin:50px;
      }
        .about-area .main-title h1 {
          text-align:center;
          margin-top: 30px;
          margin-bottom: 10px;}
      }
    }


.main-title p {
    font-size: 25px;
    font-family: "Roboto", sans-serif;
    line-height: 26px;
    color: #777777;
    margin-bottom: 0;
    margin: auto; }

/* End About Area  */

/* Footer Area */
.footer_area {
  background: #ffd200;
  text-align: center;
  padding-top: 30px;
}

.social_widget .f_title h4 {
  font-size: 21px;
  margin: 20px 0px;
  color: #000; }

.social_widget .list li {
  margin-right: 40px;
  display: inline-block; }
  .social_widget .list li a {
    color: #3b5998;
    font-size: 40px;}
  .social_widget .list li:last-child {
    margin-right: 0px; }
  .social_widget .list li:hover a {
    color: red; }

.copyright {
      margin-top: 0px; }
.copyright p {
      color:  #000; }
/* Footer Area */
/*============================================================================================ */





/* ================================Experience Page======================================== */
/* banner area */
.banner-content {
  text-align: center;
  padding: 48px 20px;
  background: #fff;
  margin: 0 15px; }
.banner-content h1 {
    color: #000;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 20px; }
/* banner area */

/* Education background */

.timeline .title {
  padding-top:40px;
}
.timeline ul li {
  margin-left: 20px;
  background: #f9f9ff;
  position: relative;
  width: 2px;
  padding-bottom: 40px;
  list-style-type: none;
}

.timeline ul li:last-child {
  padding-bottom: 50px;
}

.timeline ul li:before {
  content: '';
  background: #8490ff;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  width: 25px;
  height: 25px;
  border: 5px solid #eee;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.timeline ul li .content {
  width: 80vw;
  background-color: white;
  box-shadow: 10px 10px 27px 5px rgba(153, 153, 153, 0.4);
  position: relative;
  top: 7px;
  padding: 30px;
  margin-left: 25px;
}
.timeline ul li .content h4 {
  text-align: left;
  padding-bottom: 10px;
}

.timeline ul li .content p {
  text-align: left;
  margin-bottom: 5px;
}

.timeline ul li .content p b {
  color: #222;
}

/* media query */
/* iPads (portrait and landscape) ----------- */
    @media screen and (min-width:680px) and (max-width : 1024px) {
      .timeline ul li {
        margin-left: 20px;
      }
      .timeline ul li .content {
        width: 360px;;
      }
      .timeline ul li .content h2 {
        text-align: initial;
      }
      .timeline ul li:nth-child(even) .content {
        left: 50px;
        width:80vw;
      }
      .timeline ul li:nth-child(even) .content:before {
        left: -38px;
      }
      .timeline ul li:nth-child(odd) .content {
        left: 50px;
        width:80vw;
      }

      .timeline ul li:nth-child(odd) .content:before {
        left: -38px;
      }
    }

/* Desktops and laptops  ----------- */
@media screen and (min-width : 1024px) {
.timeline ul li {
  margin: 0 auto;
}

.timeline ul li .content {
  width: 40vw;
}

.timeline ul li .content h4 {
  padding-bottom: 10px;
  text-align: center;
}

.timeline ul li .content p {
  text-align: center;
}

.timeline ul li:nth-child(even) .content {
  left: calc(-40vw - 45px);
}
}

/* Education background */

/* Working Background */
.working .com-1 {
  margin-bottom: 10px;
color:#000000}

.working .com-2{
  margin-bottom: 10px;
  color:	#000000;
}
.working .com-3{
  margin-bottom: 10px;
  color:	#000000;
}
.working .com-4{
  margin-bottom: 10px;
  color:	#000000;
}
.working .col-md-9{
  margin-top: 40px;
}


/* ================================End Experience Page======================================== */

/*================================Image Gallery page ================================*/
.single-gallery-image {
        margin-top: 30px;
        overflow:hidden;
        background-repeat: no-repeat !important;
        background-position: center center !important;
        background-size: cover !important;
        background-attachment: fixed;
        background-repeat: no-repeat;
        height: 200px;
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
      }
.section-top-border{
  margin-bottom:50px;
}

      .single-gallery-image:hover {
        opacity: 0.8; }

/*================================Image Gallery page ================================*/


/* Contact Page */
.contact_area{
  margin: 50px;
}
.contact_info .info_item {
  position: relative;
  padding-left: 45px;}
  .contact_info .info_item i {
    display:flex;
    flex-flow: wrap;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 30px;
    font-style:bold;
    color:black;
    line-height: 30px;
}

/* media-query */
@media screen and (min-width:680px) and (max-width : 1024px) {
      .contact_area{
        margin: 80px;
      }
    }
@media screen and (min-width : 1024px) {
  .contact_area{
    margin: 100px;
  }
}

/* =================================== */
